<div class="simple-edit-field d-inline-block p-2 m-auto">
    <div class="d-flex align-items-center">
        <label [for]="fieldName" class="input-label text-truncat">{{ label }}</label>
        <div class="input-field medium-size">
            <input [(ngModel)]="fieldValue" [type]="fieldType" class="form-control" [id]="fieldName" [placeholder]="placeholder" [disabled]="!enableEdit">
        </div>
        <div class="edit-icon field-icon" (click)="onEditIconClick()" [ngClass]="{'d-none': enableEdit }">
            <app-custom-svg icon="pencil" size="1.2"></app-custom-svg>
        </div>
        <div class="reject-icon field-icon" (click)="onCloseClick()" [ngClass]="{'d-none': !enableEdit }">
            <app-custom-svg icon="x-circle-fill" size="1.2"></app-custom-svg>
        </div>
        <div class="accept-icon field-icon" (click)="onAcceptClick()" [ngClass]="{'d-none': !enableEdit }">
            <app-custom-svg icon="check-circle-fill" size="1.2"></app-custom-svg>
        </div>
    </div>
</div>

