<h4 class="text-left text-secondary py-2">Change your password</h4>

<div class="d-flex align-items-center pt-3">
    <label for="currentPasswordField" class="input-label text-truncat text-left">Current Password</label>
    <div class="input-field medium-size position-relative">
        <input [(ngModel)]="currentPassword" type="password" class="form-control password-field" id="currentPasswordField">
    </div>
</div>

<div class="d-flex align-items-center pt-4">
    <label for="newPasswordField" class="input-label text-truncat text-left">New Password</label>
    <div class="input-field medium-size position-relative">
        <input [(ngModel)]="newPassword" #newPasswordCtrl="ngModel" type="password" class="form-control password-field"
            id="newPasswordField" (keyup)="onNewPasswordChange()">
        <div class="password-strength font-weight-bold">
            <span class="text-danger">{{ newPasswordPresentStrength }}</span> / <span class="text-success">{{ newPasswordTotalStrength }}</span>
        </div>
    </div>
    <app-custom-svg *ngIf="newPasswordCtrl.dirty && !isValidNewPassword" icon="x-circle-fill" size="1.2">
    </app-custom-svg>
    <app-custom-svg *ngIf="newPasswordCtrl.dirty && isValidNewPassword" icon="check-circle-fill" size="1.2">
    </app-custom-svg>
</div>

<div class="d-flex align-items-center py-4">
    <label for="retypePasswordField" class="input-label text-truncat text-left">Re-type Password</label>
    <div class="input-field medium-size position-relative">
        <input [(ngModel)]="retypePassword" #retypePasswordCtrl="ngModel" type="password"
            class="form-control password-field" id="retypePasswordField" (keyup)="onRetypePasswordChange()">
    </div>
    <app-custom-svg *ngIf="retypePasswordCtrl.dirty && !isValidRetypePassword" icon="x-circle-fill" size="1.2">
    </app-custom-svg>
    <app-custom-svg *ngIf="retypePasswordCtrl.dirty && isValidRetypePassword" icon="check-circle-fill" size="1.2">
    </app-custom-svg>
</div>
